.text-indigo {
  color: indigo !important;
}

.text-sunrise {
  color: #f39f18 !important;
}

.text-bg-custom {
  background-color: darkslateblue !important;
}

.btn-sunrise {
  background-color: #f39f18 !important;
  border-color: #f39f18 !important;
  color: black !important;
}

.btn-sunrise:hover {
  background-color: indigo !important;
  border-color: indigo !important;
  color: white !important;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.7);
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.alert-success {
    background-color: rgba(212, 237, 218, 0.7);
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}